<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>User Profile</title>
    <style type="text/css">
      body,input {
        font-size: 18pt;
        font-family: century gothic;
        color: #333333;
        with:100%;
      }

      .content{
        width: 700px ;
        margin-left: auto ;
        margin-right: auto ;
      }

      #info{
        margin-top:15px;
        color:blue;

      }


    </style>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

   
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
