<h1> <%= user.name %>'s Cinderella Recipes</h1>
<form id="recipes">
  <% optional_recipes.each do |recipe|  %>
    <input type=checkbox value="<%= recipe %>"
      <% if user_recipes.include? recipe %>
        CHECKED
    <% end %>

    > <%= recipe %> <br />
  <% end %>
  <input type="button" id="submit" value="Update" />
</form>
<div id="info"></div>

 <script type='text/javascript'>
      $(document).ready(function() {
          $("#submit").click(function(){
            $("#info").html('')

            var datastring = ''
            $("#recipes :checked").each(function() {
              datastring = datastring + $(this).val() + ','
              });
            $.ajax({
                    url: '/profile/<%=user.name %>/recipes',
                    type: "PUT",
                    data: {"recipes" : datastring},
                    success:  function(data){
                                $("#info").html(data)
                              }
                  });

          });
          });


</script>

