<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>User Profile</title>
    <style type="text/css"> 
      body,input {
        font-size: 18pt;
        font-family: century gothic;
        color: #333333;
        with:100%;
      }

      .content{
        width: 700px ;
        margin-left: auto ;
        margin-right: auto ;
      }


    </style>  
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <script type='text/javascript'>
      $(document).ready(function() {
          $("#submit").click(function(){
            var datastring = ''
            $("#recipes :checked").each(function() {
              datastring = datastring + $(this).val() + ','
              });

            $.post(
              '/update',
              {"recipes" : datastring}

              );
            });          

          });
    </script>


      </head>
      <body>


        <div class="content">
          <h1> <%= @user.name %>'s Cinderella Recipes</h1>
          <form id="recipes">

            <% recipes.each do |recipe|  %>
              <input type=checkbox value="<%= recipe %>"
              <% @user.recipes.each do |user_recipe| %>
                <% if user_recipe.name == recipe %>
                  CHECKED
                <% end %>
              <% end %>

              > <%= recipe %> <br /> 
            <% end %>
            <% if @user.name == @github_user.login %>
              <input type="button" id="submit" value="Update" />
            <% end %>
          </form>
        </div>

      </body>
    </html>

